/* font google */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

body{
    margin: 0;
    font-family: 'Comfortaa', cursive;
    /* background: ; */
}
header{
    max-width: 20rem;
    margin: 0 auto;
    text-align: center;
}
main{
    max-width: 20rem;
    margin: 0 auto;
}
footer{
    max-width: 20rem;
    margin: 0 auto;
    text-align: center;
}
section{
    font-size: 1.125em;
    padding: 0.625em 0.9375em 0.625em;
}

/* card-image */
figure{
    max-width: 20rem;
    font-size: 0.9em;
    margin: 0;
    padding-bottom: 0.9em;
}
figure img{
    max-width: 100%;
    border-radius: 0.3125em;
}
figure figcaption{
    font-size: 0.625em;
    text-align: center;
    color: #b9b9b9;
}

/* button */
.btn{
    border-radius: 0.3125em;
    border: none;
}
.btn-primary{
    background-color: #5b6cca;
    color: #fff;
}